.container {
  position: relative;
  display: block;
}

.tagsInput {
  position: relative;
  margin-bottom: 28px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.textInputContainer {
  position: relative;
  height: 2rem;
  display: block;
}

.textInput {
  display: inline-block;
}

.addButton {
  display: inline-block;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0.2rem;
  height: 2rem;
  top: 0;
}

.addButton svg {
  height: 2rem;
}

.addButton:hover,
.addButton:hover {
  background: transparent;
  color: var(--link-color-hover);
  border: none;
}
