.textArea {
  composes: scrollableArea from '../../styles/scrollable-area.css';
  overflow-x: hidden;
  padding-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  color: var(--color);
  background-color: var(--background);
  border: 1px solid transparent;
  font-family: Consolas, Lucida Console, monospace;
  font-feature-settings: 'liga' 0;
  line-height: 1.4rem;
  font-family: IBM Plex Mono, monospace;
}

.textArea:focus,
.textArea:hover {
  border: 1px solid transparent;
}

.invisible {
  visibility: hidden;
  height: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  border: none !important;
}

.previewToggle {
  padding: 0 !important;
  margin-left: 0 !important;
  background: transparent;
  color: var(--link-color);
}

.previewToggle:hover {
  color: var(--link-color-hover);
}

.doNotDisplay {
  display: none;
}

.preview {
  composes: scrollableArea from '../../styles/scrollable-area.css';
  overflow-x: hidden;
  border-right: 1px solid var(--border-color);
}
