.container {
  list-style: none;
  padding: 0;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.6rem;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}

.footer {
  padding: 0.5rem 0;
}
